<html>

<head>
    <script src="D:\script\angularjsprogramm\angularjslibery.js"></script>
    <style>
        h3 {
            color: darkorange;
        }
    </style>
</head>

<body ng-app="">
    <h3><i><b>Enter any three Numbers</b></i></h3>
    <input type="number" ng-model="num1">Number1</input><br>
    <input type="number" ng-model="num2">Number2</input><br>
    <input type="number" ng-model="num3">Number3</input><br>
    <h3><i><b>The Sum is as follow</b></i></h3>
    <div>{{num1+num2+num3}}</div>
    <h3><i><b>The Avarage is as follow</b></i></h3>
    {{(num1+num2+num3)/3}}
    <a href="D:\script\angularjsprogramm\mywebsiteforwebstudy\experessioninangularjs.html">
        <button style="background-color:green;"><h2>
            <-Back</h2></button>
    </a>
    <hr>
    <h1 style="color: darkred;">script</h1>
    <img src="codefotoforaveage.png">
</body>

</html>